/*csslint ids: false, box-model: false, universal-selector: false, box-sizing: false*/


/*UNIVERSAL SELECTOR*/

* {
  box-sizing: border-box;
  text-align: center;
}


/********************************
GENERAL
********************************/

body {
  color: #878787;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  margin: 0;
}

.main-header {
  background: linear-gradient(firebrick, transparent 90%), linear-gradient(0deg, #fff, transparent), firebrick url(../img/PPC.jpg);
  background-color: firebrick;
  /*background-image: url(../img/mountains.jpg);
  background-image: radial-gradient(circle at top, #ffa949, firebrick);
  background-image: linear-gradient(#ffa949, firebrick);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  padding-top: 170px;
  text-align: center;
}

.title {
  border-bottom: 2px solid;
  color: white;
  /*To change from px to em. Do this simple equation
  Whatever the desired pixel is / 16.
  26px / 16 =
  */
  font-size: 1.625em;
  font-weight: 200;
  letter-spacing: 0.065em;
  padding-bottom: 10px;
  text-align: center;
}

.primary-content {
  margin: auto;
  max-width: 900px;
  padding-bottom: 95px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  width: 75%;
}

.secondary-content {
  border-bottom: 2px solid;
  margin: auto;
  max-width: 900px;
  padding: 80px 50px 70px;
  /*padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 80px;*/
  width: 75%;
}

.t-border {
  border-top: 2px solid lightgray;
}


/*ul li {
  margin-bottom: 5px;
}*/

ul,
ol {
  margin-left: 30px;
}

li {
  margin-bottom: 10px;
}

.arrow {
  margin-top: 150px;
  width: 50px;
}

img {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.menu {
  /*padding-top: 100px;
  padding-right: 120px;
  padding-bottom: 100px;
  padding-left: 120px;*/
  background: linear-gradient(firebrick, transparent 50%), linear-gradient(0deg, #fff, transparent), firebrick url(../img/PPC_Pizza.jpg);
  background-color: #434a52;
  /*  background-image: url(../img/PPC_Pizza.jpg);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*border-color: #ffa949;
  border-style: solid;
  Two values: First Value - Top and Bottom, Second Value - Sides (Left and Right)
  border-width: 10px 20px;*/
  border-radius: 10px;
  border-top: 10px solid #ffa949;
  /*Box Shadows: 1st value horizontal, 2nd value verrtical, 3rd value blur, 4th spread radius*/
  box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, 0.8);
  color: red;
  /*Three values: First Value - Top, Second Value - Sides (Left and Right), Third Value - Bottom*/
  margin: 105px 0 60px;
  padding: 18% 24%;
}

.callout {
  border-bottom: 3px solid;
  display: inline-block;
  font-size: 1.25em;
  margin-top: 20px;
  padding: 0 9px 3px;
}

#main-footer {
  border: solid 10px red;
  padding-bottom: 60px;
  padding-top: 60px;
}

#main-footer {
  color: indianred;
}

li {
  list-style: none;
  padding-right: 75px;
}

.btn {
  color: darkred;
}

.dropdown {
  color: white;
}

.carousel-caption {
  color: firebrick;
  font-size: 20px;
}

.navbar {
  align-content: center;
  background-color: firebrick;
  border-bottom: 5px gold solid;
  font-size: x-large;
  margin: 0;
  padding: 5px 155px;
}

.navbar-nav {
  border-bottom: none;
}

.btn:hover {
  background-color: gold;
}

.location p{
  color: gold;
  font-size: 25px;
}

/********************************
HEADLINE & P ELEMENTS
********************************/

h1 {
  color: white;
  /* 90px / 16px = */
  font-size: 5.625em;
  font-weight: normal;
  line-height: 1.3;
  margin: 12px 0 0;
  /*Text Shadows: 1st value is horizontal offset, 2nd value is vertical offset, 3rd value is blur, 4th value is color of shadow.*/
  text-shadow: -5px 10px 1px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

h2 {
  font-size: 53px;
  font-weight: normal;
  /* 26px / 53px */
  margin-bottom: 0.5em;
  text-decoration: underline;
}

h3 {
  font-size: 53px;
  /* 16px / 53px */
  margin-bottom: 0.3em;
  text-decoration: underline;
}


/********************************
FLOATED COLUMNS
********************************/

.events {
  color: firebrick;
  float: left;
  width: 46.5%;
}

.contact {
  color: black;
  float: right;
  width: 46.5%;
}

.group:after {
  clear: both;
  content: "";
  display: table;
}


/********************************
COLORS
********************************/


/*CSS PSEUDO CLASS*/

a:link {
  color: #ffa949;
  text-decoration: none;
}

a:visited {
  color: firebrick;
}

a:hover {
  color: black;
}

a:active {
  color: darkred;
}

a:focus {
  background-color: firebrick;
  color: gold;
}


/********************************
MEDIA QUERIES
********************************/

@media (max-width: 1024px) {
  .primary-content,
  .secondary-content {
    width: 90%;
  }
  .menu {
    margin: 50px 0 20px;
    padding: 10% 12%;
  }
}

@media (max-width: 768px) {
  .primary-content,
  .secondary-content {
    border-top: none;
    padding: 20px;
    width: 100%;
  }
  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }
  .title {
    border: none;
    font-size: 1.3rem;
  }
  /*
  h1 {
    font-size: 5rem;
    line-height: 1.1;
  }
*/
  arrow {
    display: none;
  }
  .intro {
    font-size: 1rem;
  }
  .events,
  .contact {
    float: none;
    width: 100%;
  }
  #main-footer {
    padding: 20px 0;
  }
}

@media (max-width: 375px) {
  /*
  h1 {
    font-size: 3rem;
  }
*/
}